{% for post in postslist | reverse %}
	<article class="post" {% if post.url == url %} data-current="current item"{% endif %} style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
		{% if post.data.thumb %}
			<img alt="{{ post.data.title }}" class="thumb u-mr-1" loading="lazy" src="{{ post.data.thumb }}" />
		{% endif %}
		<div class="meta">
			<h3 class="title">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if post.data.summary %}
				<p class="measure">
					{{ post.data.summary }}
				</p>
			{% endif %}
			<p class="datetime">
				<time datetime="{{ post.date | machineDate }}">
					<small>{{ post.date | readableDate }} by {{ metadata.author.name }}</small>
				</time>
			</p>
			{% if post.data.tags %}
				<p class="tags">
					{% for tag in post.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</div>
	</article>
{% endfor %}
