---
layout: layouts/home.njk
title: Home
date: 2016-01-01T00:00:00.000Z
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---

<h1>The clearance rate of murders in the U.S. has been on a decline since the 1960s</h1>

<div id="wrapper" class="wrapper">
  <div id="tooltip" class="tooltip">
    <div class="tooltip-date">
      <span id="date"></span>:&nbsp;
      <span id="percentage"></span>
    </div>
    <div class="tooltip-murders">
      Murders: <span id="murders"></span>
    </div>
    <div class="tooltip-clearances">
      Clearances: <span id="clearances"></span>
    </div>
  </div>
  <small class="u-d-b u-ta-r">Clearance data is from <a href="http://murderdata.org">murderdata.org</a>
</div>

<div class="measure u-mh-auto u-mt-1">
  <h2 class="u-mb-05">
    Avoiding a coin flip
  </h2>
  <p>
    If the trend continues, we could reach a point where the result of a murder case is the equivalent of a coin flip. Fortunately, true crime as a genre has surged in the past few years. While much of the content falls under the "entertainment" category, there is a growing number of citizen sleuths that are actively trying to solve cases. Hopefully, that has contributed to the uptick from <strong>56% in 2016</strong> to <strong>59% in 2018</strong>.
  </p>
  <p>
    Most cold cases are waiting for the right tip to come in. Sharing case information and asking questions can lead to someone remembering something that they thought was insignificant. For others, it could be the tipping point for them to share information that they've kept to themselves to protect someone.
  </p>
  <p>
    To counter this trend, we have to help get law enforcement the information that they need.
  </p>
</div>
