---
date: 2020-03-28
summary: Abby and Libby went for a hike on February 13, 2017. They didn't show up to be picked up, and their bodies were found the next day.
thumb: "delphi-murders-case.jpg"
title: Delphi Murders
tags:
  - case
  - homicide
---

<h1>{{ title }}</h1>

<p>{{ summary }}</p>

<p>{{ intro }}</p>

{% include "components/audios.njk" %}

{% include "components/texts.njk" %}

{% include "components/videos.njk" %}

