---
date: 2020-03-26
summary: Emma Fillipoff was 26 when she was last seen on November 28th, 2012 in Victoria, British Columbia.
thumb: 'emma-fillipoff-case.jpg'
title: Emma Fillipoff
tags:
  - case
  - missing
---

<h1>{{ title }}</h1>

<p>{{ summary }}</p>

<p>{{ intro }}</p>
