---
date: 2020-03-23
summary: Jodi Huisentruit was abducted outside of her apartment in 1995 and has been missing ever since. She was ruled legally dead in 2001.
thumb: "jodi-huisentruit-case.jpg"
title: Jodi Huisentruit
tags:
  - case
  - homicide
---

<h1>{{ title }}</h1>

<p>{{ summary }}</p>

<p>{{ intro }}</p>

{% include "components/audios.njk" %}

{% include "components/texts.njk" %}

{% include "components/videos.njk" %}



