<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="u-d-f u-fd-c u-ai-c">
			<a class="u-my-1" href="{{ '/' | url }}" title="{{ metadata.title }}">
				<img alt="{{ metadata.title}}" loading="lazy" src="/static/img/true-crime-commentaries.svg" width="180" />
			</a>
			{% include "components/nav.njk" %}
		</header>

		{{ layoutContent | safe }}

		{% include "components/footer.njk" %}

	</body>

</html>
